.education-card-card {
  width: 25%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.education-card-image {
  width: 200px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.education-card-image1 {
  width: 100px;
  box-shadow: 0px 0px 10px 10px #ffffff;
  object-fit: cover;
}
.education-card-text {
  text-align: center;
  padding-bottom: var(--dl-space-space-unit);
}
.education-card-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.education-card-text1 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.education-card-text2 {
  text-align: center;
}
@media(max-width: 767px) {
  .education-card-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 479px) {
  .education-card-card {
    width: 100%;
  }
}

.r-pos-card-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.r-pos-card-container1 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.r-pos-card-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.r-pos-card-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.r-pos-card-image {
  width: auto;
  height: 100px;
  box-shadow: 0px 0px 10px 10px #ffffff;
  object-fit: cover;
  margin-right: var(--dl-space-space-fiveunits);
}
.r-pos-card-container4 {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.r-pos-card-text {
  color: var(--dl-color-primary-100);
  font-size: 30px;
  font-style: normal;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.r-pos-card-text1 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-family: Rubik;
  font-weight: 400;
  line-height: 1.55;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.r-pos-card-text2 {
  color: var(--dl-color-gray-500);
}
.r-pos-card-text3 {
  font-size: 18px;
  font-style: normal;
  font-family: Rubik;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1;
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}






.pub-card-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.pub-card-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pub-card-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  max-width: 75%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pub-card-text {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.pub-card-text1 {
  color: var(--dl-color-gray-500);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.pub-card-text2 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.pub-card-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pub-card-text3 {
  padding-top: 0px;
  margin-right: var(--dl-space-space-fourunits);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.pub-card-link {
  color: var(--dl-color-primary-100);
  font-style: normal;
  font-family: Rubik;
  font-weight: 500;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.pub-card-image {
  width: auto;
  height: auto;
  max-width: 20%;
  box-shadow: 0px 0px 10px 10px #ffffff;
  max-height: 20%;
  object-fit: cover;
}













.pres-card-card {
  width: 22.5%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 8px;
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 4px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  background-image: linear-gradient(315deg, rgba(0, 62, 179, 0.05) 1.00%,rgba(20, 169, 255, 0.31) 100.00%);
}
.pres-card-text {
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: Overpass;
  font-weight: 700;
  line-height: 1.55;
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.pres-card-text1 {
  color: var(--dl-color-gray-500);
  font-size: 8px;
  font-style: italic;
  text-align: center;
  font-family: Rubik;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1;
  text-transform: none;
  text-decoration:   none;
}
.pres-card-content-container {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.pres-card-text2 {
  color: var(--dl-color-gray-500);
  font-size: 10px;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-doubleunit);
  letter-spacing: 1;
  text-transform: none;
  text-decoration: none;
}
.pres-card-text3 {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1;
  text-transform: none;
  text-decoration: none;
}
.pres-card-text4 {
  color: var(--dl-color-gray-black);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1;
  text-transform: none;
  text-decoration: none;
}
.pres-card-text5 {
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1;
  text-transform: none;
  text-decoration: none;
}


































































@media(max-width: 767px) {
  .pres-card-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 479px) {
  .pres-card-card {
    width: 100%;
  }
}

.project-card-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-card-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.project-card-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  max-width: 75%;
  flex-direction: column;
  justify-content: flex-start;
}
.project-card-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-card-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.project-card-text {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.project-card-text1 {
  color: var(--dl-color-gray-500);
  padding-bottom: 0px;
}
.project-card-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.project-card-text2 {
  text-align: right;
  padding-top: 0px;
  margin-right: 0nits;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.project-card-link {
  color: var(--dl-color-primary-100);
  font-style: normal;
  text-align: right;
  font-family: Rubik;
  font-weight: 500;
}
.project-card-text3 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.project-card-image {
  width: auto;
  height: auto;
  max-width: 20%;
  box-shadow: 0px 0px 10px 10px #ffffff;
  max-height: 20%;
  object-fit: cover;
}










.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-heading {
  color: var(--dl-color-primary-100);
  transition: 0.3s;
  text-decoration: none;
}
.home-heading:hover {
  color: var(--dl-color-danger-300);
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  margin-right: var(--dl-space-space-tenunits);
  text-decoration: none;
}
.home-link01 {
  margin-right: var(--dl-space-space-tenunits);
  text-decoration: none;
}
.home-link02 {
  margin-right: var(--dl-space-space-tenunits);
  text-decoration: none;
}
.home-link03 {
  margin-right: var(--dl-space-space-tenunits);
  text-decoration: none;
}
.home-link04 {
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-link07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-container2 {
  width: 100%;
  display: flex;
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.home-hero-text-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.home-heading2 {
  color: var(--dl-color-primary-100);
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text02 {
  color: var(--dl-color-gray-black);
  align-self: center;
  text-align: center;
  margin-bottom: 0Units;
}
.home-link09 {
  color: var(--dl-color-primary-100);
  font-size: 18px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Rubik;
  font-weight: 500;
  line-height: 1.55;
  margin-bottom: 0px;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-cta-btn-container {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  box-shadow: 5px 5px 10px 0px #575757;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: rgba(0, 62, 179, 0.4);
}
.home-cta-btn:hover {
  background-color: rgba(0, 26, 78, 0.4);
}
.home-text09 {
  color: #101010;
}
.home-text10 {
  color: var(--dl-color-gray-black);
}
.home-cta-btn1 {
  color: var(--dl-color-gray-black);
  box-shadow: 5px 5px 10px 0px #575757;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-cta-btn1:hover {
  background-color: #dcdcdc;
}
.home-social-links {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
}
.home-link10 {
  display: contents;
}
.home-icon04 {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-icon04:hover {
  fill: var(--dl-color-primary-300);
}
.home-link11 {
  display: contents;
}
.home-icon06 {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-icon06:hover {
  fill: var(--dl-color-primary-300);
}
.home-link12 {
  display: contents;
}
.home-icon08 {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-icon08:hover {
  fill: var(--dl-color-primary-300);
}
.home-link13 {
  display: contents;
}
.home-icon10 {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  text-decoration: none;
}
.home-icon10:hover {
  fill: var(--dl-color-primary-300);
}
.home-image {
  width: 40%;
  height: 600px;
  box-shadow: 5px 5px 10px 0px #737373;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.home-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #f5f5f5;
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text15 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-text16 {
  text-align: center;
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-about {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: #f5f5f5;
}
.home-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-max-content-width-container1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 0px;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-max-content-width-container2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container3 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-cards-container1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.home-about1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  box-shadow: 0px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: #f5f5f5;
}
.home-max-content-width-container3 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 0px;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tenunits);
}
.home-heading-container4 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text24 {
  align-self: center;
  text-align: center;
}
.home-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-faqs {
  width: 100%;
  display: flex;
  max-width: 900px;
  box-shadow: 5px 5px 10px 0px #b3b3b3;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/playground_assets/attachment-1-900w.jpeg");
}
.home-text25 {
  color: var(--dl-color-gray-white);
  box-shadow: 5px 5px 10px 0px #05264c;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-tripleunit);
  background-image: linear-gradient(0deg, rgb(71, 137, 181) 0.00%,rgba(0, 69, 138, 0.85) 100.00%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.home-content-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #6f6f6f;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.home-text26 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-family: Rubik;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-faqs1 {
  width: 100%;
  display: flex;
  max-width: 900px;
  box-shadow: 5px 5px 10px 0px #b3b3b3;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/playground_assets/img_0971-900w.jpeg");
}
.home-content-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #6f6f6f;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.home-text35 {
  font-size: 18px;
  align-self: flex-start;
  font-style: normal;
  font-family: Rubik;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1px;
  text-transform: none;
  text-decoration: none;
}
.home-subscribe {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image1 {
  width: 50%;
  box-shadow: 5px 0px 10px 0px #d4d4d4;
  object-fit: cover;
}
.home-container6 {
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #D9D9D9;
}
.home-heading-container5 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text50 {
  align-self: center;
  margin-bottom: 0px;
}
.home-text51 {
  align-self: center;
  text-align: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: 0px;
}
.home-link14 {
  color: var(--dl-color-primary-100);
  font-size: 32px;
  font-family: Rubik;
  font-weight: 500;
  text-decoration: none;
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  box-shadow: 0px -25px 100px 50px #417395;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgb(65, 115, 149) 0.00%,rgb(7, 46, 85) 100.00%);
}
.home-social-links1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link15 {
  display: contents;
}
.home-icon12 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link16 {
  display: contents;
}
.home-icon14 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link17 {
  display: contents;
}
.home-icon16 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link18 {
  display: contents;
}
.home-icon18 {
  fill: #ffffff;
  flex: 1;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon20 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-link19 {
  color: #ffffff;
}
@media(max-width: 991px) {
  .home-heading {
    text-align: center;
  }
  .home-heading1 {
    text-align: center;
  }
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading2 {
    text-align: center;
  }
  .home-text02 {
    text-align: center;
  }
  .home-image {
    width: 100%;
  }
  .home-text15 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-links-container {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon {
    fill: var(--dl-color-gray-white);
  }
  .home-cta-btn {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-cta-btn1 {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-heading-container {
    width: 100%;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-text19 {
    text-align: center;
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-text21 {
    text-align: center;
  }
  .home-heading-container3 {
    width: 100%;
  }
  .home-text23 {
    text-align: center;
  }
  .home-cards-container1 {
    align-items: center;
    flex-direction: column;
  }
  .home-heading-container4 {
    width: 100%;
  }
  .home-text24 {
    text-align: center;
  }
  .home-content-container {
    width: 100%;
    flex-direction: column;
  }
  .home-content-container1 {
    width: 100%;
    flex-direction: column;
  }
  .home-subscribe {
    flex-direction: column;
  }
  .home-image1 {
    width: 70%;
  }
  .home-container6 {
    width: 100%;
    align-items: center;
  }
  .home-heading-container5 {
    width: 100%;
  }
  .home-text50 {
    text-align: center;
  }
  .home-text51 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .home-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .home-hero-text-container {
    width: 100%;
    align-self: center;
    margin-left: 0px;
  }
  .home-content-container {
    padding-left: 0px;
  }
  .home-content-container1 {
    padding-left: 0px;
  }
  .home-image1 {
    width: 100%;
  }
  .home-container6 {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
