<div>
  <link href="./education-card.css" rel="stylesheet" />
  <div class="education-card-card">
    <div class="education-card-image">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="education-card-image1"
      />
    </div>
    <h1 class="education-card-text card-Heading"><span>Heading</span></h1>
    <div class="education-card-content-container">
      <span class="education-card-text1 card-Text">
        <span>degree & field of research</span>
      </span>
      <span class="education-card-text2 card-Text"><span>conferral</span></span>
    </div>
  </div>
</div>
