<div>
  <link href="./pres-card.css" rel="stylesheet" />
  <div class="pres-card-card">
    <h1 class="pres-card-text"><span>Title</span></h1>
    <span class="pres-card-text1"><span>Type</span></span>
    <div class="pres-card-content-container">
      <span class="pres-card-text2"><span>Authors</span></span>
      <span class="pres-card-text3"><span>Date</span></span>
      <span class="pres-card-text4"><span>Conference</span></span>
      <span class="pres-card-text5"><span>Location</span></span>
    </div>
  </div>
</div>
