<div>
  <link href="./pub-card.css" rel="stylesheet" />
  <div class="pub-card-container">
    <div class="pub-card-container1">
      <div class="pub-card-container2">
        <h1 class="pub-card-text card-Heading"><span>Title</span></h1>
        <span class="pub-card-text1 card-Text"><span>Authors</span></span>
        <span class="pub-card-text2 card-Text"><span>Publisher</span></span>
        <div class="pub-card-container3">
          <span class="pub-card-text3 card-Text"><span>Date</span></span>
          <a
            href="https://example.com"
            target="_blank"
            rel="noreferrer noopener"
            class="pub-card-link"
          >
            <span>Link</span>
          </a>
        </div>
      </div>
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="pub-card-image"
      />
    </div>
  </div>
</div>
