<div>
  <link href="./r-pos-card.css" rel="stylesheet" />
  <div class="r-pos-card-container">
    <div class="r-pos-card-container1">
      <div class="r-pos-card-container2">
        <div class="r-pos-card-container3">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="r-pos-card-image"
          />
          <div class="r-pos-card-container4">
            <h1 class="r-pos-card-text"><span>Title</span></h1>
            <span class="r-pos-card-text1"><span>Location</span></span>
          </div>
        </div>
        <span class="r-pos-card-text2 card-Text"><span>Date Range</span></span>
      </div>
      <span class="r-pos-card-text3"><span>Advisor</span></span>
      <span class="card-Text"><span>Description</span></span>
    </div>
  </div>
</div>
