html {
    background-color: #ffffff;
}

img.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

body {
    font-family: "Bodoni MT", "Courier New", monospace;
}

body p.intro {
    text-align: center;
    width: 100%;
}

h1 {
    text-align: center;
}

ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #555;
}

li.nav a:active {
    background-color: #111;
}

body:after {
    content: "";
    display: block;
}

footer, body:after {
    bottom: 0;
    height: 60px;
}

footer div.smnav {
    float: right;
}

footer div.smnav img {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: -60px;
    padding: 5px 5px;
    border-radius: 18px;
}
